.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/images/header-image.png);
  z-index: auto;
}